@font-face {
    font-family: TTNeorisTrialVariable;
    src: url(../fonts/TT-Neoris-Trial-Variable.ttf);
}

@font-face {
    font-family: TTNeorisTrialLight;
    src: url(../fonts/TT-Neoris-Trial-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TTNeorisTrialVariable, serif;
    transition: .4s;
    scroll-behavior: smooth;
}

.cont {
    padding-left: clamp(20px, 25.7vw - 288.3px, 167px) !important;
    padding-right: clamp(20px, 25.7vw - 288.3px, 170px) !important;
}

body {
    color: #1A1E1C;
    font-size: 16px;
    font-weight: 400;
    font-family: TTNeorisTrialVariable, serif;
    background-color: #F5F4F0;
}

.home-body {
    background-image: url(../images/intro-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
}

.orange-btn {
    padding: 13px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1E1C;
    border-radius: 200px;
    background: #FF5A39;
    border: none;
}

.grey-btn {
    padding: 7.5px 24.5px;
    background: #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: none;
    border-radius: 10px;
    color: #1A1E1C;
}

.black-btn {
    padding: 12px 36.5px;
    background: #1A1E1C;
    border-radius: 10px;
    color: #fff;
    border: none;
}

.intro {
    /* background-size: cover; */
    height: 100vh;
    min-height: 920px;
    /* min-height: 100vh; */
    padding: 27px 48px;
}

header {
    width: 100%;
    padding: 27px 48px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f4f0cc;
    z-index: 1111;
}

header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
    padding: 13px 28px 15px 28px;
    border-radius: 200px;
    background: #fff;
}

header nav ul li a {
    color: #1A1E1C;
    line-height: 100%;
    letter-spacing: 0%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lang {
    width: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orange-txt {
    color: #FF5A39;
}

.intro-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 120px 205px 82px 205px;
}

.intro-top {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.intro-top>img {
    max-width: 1050px;
    width: fit-content;
    object-fit: cover;
    height: clamp(100px, 43vh - 287px, 229px);
}

.text-33 {
    font-size: 33px;
}

.intro-top>p {
    white-space: pre-line;
    line-height: 30px;
    text-transform: uppercase;
}

.intro-bottom {
    align-self: flex-end;
    margin-top: 82px;
    width: 1084px;
}

.intro-bottom>div {
    display: flex;
    gap: 24px;
}

.intro-bottom>div>div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.intro-bottom h2,
.intro-bottom h3 {
    text-transform: uppercase;
    font-weight: 400;
    white-space: pre-line;
}

.text-24 {
    font-size: 24px;
    font-weight: 400;
}

.intro-bottom span {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro-bottom .text-24 {
    white-space: pre-line;
    text-transform: lowercase;
}

.intro-bottom h3 {
    align-self: flex-end;
}

.intro-bottom button {
    margin-top: 28px;
    width: fit-content;
    align-self: flex-end;
    background: none;
    padding: 7.5px 45px;
    border: 1px solid #FF5A39;
    border-radius: 60px;
    font-size: 33px;
}

.title {
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: pre-line;
    letter-spacing: -2px;
    line-height: 60px;
}

.substitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: lowercase;
    color: #1A1E1C;
    opacity: .6;
}

.condition {
    padding: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.condition button {
    color: #1A1E1C;
    justify-content: center;
}

.condition .substitle {
    margin-top: 20px;
}


@media screen and (min-width:1000px) {
    .condition>div>div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 40px;
        gap: 80px;
        position: relative;
    }
}


.condition-item {
    background: #FFFFFF4D;
    padding: 30px 14px;
    border-radius: 10px;
    display: flex !important;
    flex-direction: column;
}

.condition-item>.text-33,
.condition-item>div>.text-33 {
    text-transform: uppercase;
    white-space: pre-line;
    font-size: 30px;
}

.condition-item_top {
    display: flex;
    gap: 10px;
    align-items: center;
}

.orange-b-btn,
.yellow-b-btn,
.purple-b-btn {
    padding: 12px;
    border-radius: 60px;
    border: 1px solid #FF5A39;
    background: none;
    font-size: 16px;
}

.yellow-b-btn {
    border-color: #FBC402;
}

.purple-b-btn {
    border-color: #790047;
}

.condition-item .text-24 {
    margin-top: 40px;
    flex-grow: 1;
}

.condition-item>svg,
.condition-item>img {
    align-self: center;
    margin-top: 30px;
}

.condition .condition-item:hover {
    color: #fff;
}

.condition .title.desktop {
    display: block !important;
}

.condition .condition-item:hover .text-33 span {
    color: #fff;
}

.condition .condition-item:hover button {
    background: #fff;
}

.condition .condition-item:hover svg path {
    fill: #fff;
}

.condition .condition-item.o:hover {
    background: #FF5A39;
}

.condition .condition-item.y:hover button {
    color: #FF5A39;
}

.condition .condition-item.y:hover {
    background: #FBC402;
}

.condition .condition-item.y:hover button {
    color: #FBC402;
}

.condition .condition-item.p:hover {
    background: #790047;
}

.condition .condition-item.p:hover button {
    color: #790047;
}


.condition-item button {
    padding: 12px;
    justify-content: center;
    margin-top: 30px;
}

.condition>button {
    align-self: center;
    margin-top: 46px;
    padding: 12px 47px;
}

.res {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    background: url(../images/res-bg.jpg);
    background-size: cover;
    position: relative;
}

.swiper {
    width: 100%;
}

.res .swiper {
    color: #fff;
    position: absolute;
    inset: 0;
    z-index: 0;
}

.res img {
    width: 100%;
    height: 100%;
    object-position: right;
    object-fit: cover;
}

.res>p {
    position: relative;
    z-index: 1;
}

.swiper-btn {
    width: 60px !important;
    height: 63px !important;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative !important;
    left: auto !important;
    top: auto !important;
    margin: 0 !important;
    right: auto !important;
}

.swiper-btn svg {
    width: 13px !important;
    height: 25px !important;
}

.swiper-btn::after {
    display: none;
}

.swiper-control {
    display: flex;
    gap: 16px;
    align-items: center;
}

.res-control {
    bottom: 44px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.res-right {
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #1A1E1C;
    max-width: 588px;
    height: 100%;
    position: relative;
    z-index: 11;
}


.res p {
    text-transform: uppercase;
    z-index: 1;
    color: #fff;
    font-size: 40px;
    text-align: center;
    white-space: pre-line;
}

.faq-section {
    padding: 80px 20px;
}

.faq-container {
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.faq-left {
    flex: 1;
}

.faq-left h2 {
    font-size: 36px;
    margin-top: 35px;
    text-transform: uppercase;
}

.faq-left p {
    opacity: 0.6;
    margin-top: 24px;
    /* margin-bottom: 16px; */
}

.faq button {
    color: #fff;
    width: 100%;
    margin-top: 54px;
}

.faq-right {
    flex: 1.5;
}

.faq-section details {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 16px;
}

.faq-section summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-section summary::-webkit-details-marker {
    display: none;
}

.faq-section details p {
    margin-top: 34px;
    font-size: 16px;
    opacity: 0.6;
}

.text-48 {
    font-size: 48px;
    line-height: 45px;
    font-weight: 400;
}

.text-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

details[open] summary,
details[open] svg rect {
    color: #FF5A39;
    fill: #FF5A39;
}

details[open] svg {
    transform: rotate(180deg);
}

.faq .text-48 {
    text-transform: uppercase;
}

.faq .text-16 {
    opacity: .6;
}

.faq-left>img {
    width: 100%;
    max-width: 385px;
}

.mission {
    height: 100vh;
    background: url(../images/mission.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 70px;
    position: relative;
}

.mission::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #1A1E1C4F;
    z-index: 0;
}

.mission p {
    color: #fff;
    text-transform: uppercase;
    white-space: pre-line;
    z-index: 1;
}

.mission p:last-of-type {
    align-self: flex-end;
}

footer {
    padding: 90px 45px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-left>img {
    max-width: 100%;
}

.footer-left .text-48 {
    text-transform: uppercase;
    font-weight: 400;
    white-space: pre-line;
    margin-top: 60px;
}

.footer-left .text-24 {
    opacity: .6;
    max-width: 414px;
    margin-top: 45px;
}

.footer-left>label {
    margin-top: 80px;
    position: relative;
    width: 515px;
}

.footer-left label>svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.input-type-1 {
    width: 100%;
    font-size: 24px;
    padding: 0 10px 10px 7px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid;
    background: none;
    outline: none;
}

.input-type-1::placeholder {
    font-size: 24px;
    color: #000;
}

.footer-bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-height:900px) {
    .footer-bottom {
        margin-top: 100px;
    }
}

@media screen and (min-height:1000px) {
    .footer-bottom {
        margin-top: 200px;
    }
}

.footer-bottom>div {
    display: flex;
    align-items: center;
    gap: 60px;
}

footer a {
    color: #1A1E1C;
}

.footer-top {
    display: flex;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    gap: 20px;
    text-align: right;
    flex-grow: 1;
    flex-shrink: 0;
}

.footer-right>div>div {
    display: flex;
    align-items: center;
    gap: 77px;
}

.footer-right>div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.footer-right ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer-right>div a {
    opacity: .6;
}

.footer-right>div a:hover {
    opacity: 1;
}

.states {
    padding: 156px 0;
}

.states>div {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.states p {
    white-space: pre-line;
    /* text-align: right; */
    display: block;
}

.states-right>div {
    display: flex;
    flex-direction: column;
    gap: 90px;
    flex-grow: 1;
    text-align: right;
}

.states-right>div>p:last-of-type {
    text-transform: lowercase;
}

.states .title {
    /* white-space: pre-line; */
    display: flex;
    flex-direction: column;
}

.states-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 25px;
}

.states button {
    font-size: 33px;
    border-radius: 10px;
    text-transform: uppercase;
    border-radius: 60px;
    padding: 12px;
    align-items: center;
    justify-content: center;
}

.states-left {
    width: 100%;
    overflow: hidden;
}

.states-left>img {
    max-width: 111%;
    object-fit: cover;
}

.catalog-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
    padding-top: 100px;
}

.catalog-top {
    width: 100%;
    max-width: 1211px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 40px;
}

.catalog-top a {
    text-transform: uppercase;
    background: none;
    border: none;
    color: #1A1E1C;
    text-align: center;
    flex-grow: 1;
}

.catalog-top a.active {
    background-color: #FF5A39;
    padding: 7px 33px;
    border-radius: 50px;
}

.catalog-top a.active.yellow,
.yellow-bg {
    background: #FBC402 !important;
}

.yellow-txt {
    color: #FBC402;
}

.catalog-top a.active.purple,
.purple-bg {
    background: #790047 !important;
}

.color-wht {
    color: #fff !important;
}

.purple-txt {
    color: #790047;
}

.catalog-bottom .text-33 {
    text-transform: uppercase;
    white-space: pre-line;
}

.catalog-bottom_top {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.catalog-bottom_top>div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.collection-intro .catalog-items {
    margin-top: 20px;
}

.collection-intro .collection-item {
    height: 521px;
}

.catalog-bottom_top div span {
    opacity: .6;
    white-space: pre-line;
}

.catalog-bottom_top div span:last-of-type {
    text-align: right;
}

.catalog-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.catalog-bottom {
    position: relative;
    overflow: hidden;
}

.catalog-bottom::after {
    width: 654px;
    height: 664px;
    content: '';
    backdrop-filter: blur(34px);
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    background: url(../images/cond-bg.png);
    background-size: cover;
    z-index: -1;
}

.catalog-item {
    padding: 20px;
}

.catalog-item .text-33 {
    font-size: 27px;
}

.catalog-item .text-24 {
    font-size: 18px;
    text-transform: lowercase;
    margin-top: 20px;
}

.catalog-item>img {
    max-width: 100%;
}

.catalog-bottom>button {
    margin: auto;
    margin-top: 27px;
}

.product {
    /* height: calc(100vh - 227px); */
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
}

.product-left,
.product-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-left>div>span,
.product-right>div>span {
    opacity: .6;
    white-space: pre-line;
}

.product-left>div,
.product-right>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product .text-33 {
    text-transform: uppercase;
    white-space: pre-line;
}

.product-right {
    padding-top: 200px;
    text-align: right;
}

.product-right>div {
    align-items: flex-end;
}

.product-right button {
    width: fit-content;
}

.pr-title>span {
    margin-top: 30px;
}

.characteristics {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    justify-content: flex-end;
}

.characteristics li {
    font-size: 19px;
    padding: 3px 16px;
    border-radius: 200px;
    background: #FF5A39;
}

.characteristics.yellow li {
    background: #FBC402;
}

.characteristics.purple li {
    background: #790047;
    color: #fff;
}

.prod-image {
    position: relative;
}

.prod-image img {
    position: absolute;
    left: -50%;
}

.flow-image img {
    left: -25%;
}

.product-pg-cont {
    max-width: 1515px;
    width: 100%;
    margin: auto;
}

.product-description {
    padding: 100px 0;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.product-description .text-24 {
    opacity: .6;
}

.product-description>div {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.product-description>div p {
    padding-top: 15px;
}

.pr-intro {
    height: fit-content;
}

.flow-faq details[open] summary,
.flow-faq details[open] svg rect {
    color: #FBC402;
    fill: #FBC402;
}

.zen-faq details[open] summary,
.zen-faq details[open] svg rect {
    color: #790047;
    fill: #790047;
}

@media screen and (max-width:1600px) {
    .title {
        font-size: 60px;
    }

    .states p {
        white-space: unset;
    }

    .states-right {
        gap: 20px;
    }

    .condition>div>div {
        gap: 40px;
    }

    .condition-item {
        padding: 25px;
    }

    .text-33 {
        font-size: 28px;
    }

    .catalog-item .text-33 {
        font-size: 20px;
        letter-spacing: -1px;
    }

    .catalog-item .text-24 {
        font-size: 16px;
    }

    .product-pg-cont {
        max-width: 1200px;
    }

    .prod-image img {
        width: 520px;
        left: -95%;
    }

    .flow-image img {
        left: -50%;
    }

    .intro-bottom button {
        font-size: 28px;
    }
}


@media screen and (max-width:1400px) {
    .footer-right>div>div {
        gap: 30px;
    }

    .condition>div>div {
        gap: 20px;
    }

    .title {
        font-size: 52px;
    }

    header>div,
    header nav ul {
        gap: 20px;
    }

    .intro-top>img {
        max-width: 900px;
    }

    .intro-bottom {
        width: 100%;
        max-width: 1084px;
    }

    .socials {
        gap: 5px;
    }

    .socials img {
        width: 30px;
    }

    .prod-image img {
        left: -80%;
    }

    .flow-image img {
        left: -50%;
    }

    .states button {
        font-size: 18px;
    }

    .intro-bottom button {
        font-size: 26px;
    }
}

@media screen and (max-width:1300px) {

    .condition-item>.text-33,
    .condition-item>div>.text-33 {
        font-size: 20px;
    }

    .condition-item .text-24 {
        font-size: 20px;
    }
}

@media screen and (max-width:1200px) {
    .product-pg-cont {
        max-width: 991px;
    }

    .prod-image img {
        left: -100%;
    }

    .flow-image img {
        left: -60%;
        top: 20px;
        width: 470px;
    }
}

@media screen and (max-width:1100px) {
    .intro {
        padding: 20px;
    }

    header>div,
    header nav ul {
        gap: 10px;
    }

    .text-33 {
        font-size: 28px;
    }

    .footer-left>label {
        width: 100%;
    }

    .footer-top {
        gap: 33px;
    }
}

.mob {
    display: none !important;
}

.desktop {
    display: flex;
}

.swiper-control.cond-control {
    display: none !important;
}

.swiper-control.cond-control .swiper-btn {
    border-color: #000;
}


@media screen and (max-width:1000px) {
    .orange-btn {
        padding: 3px 13px;
    }

    header {
        padding: 30px 24px;
        padding-bottom: 10px;
    }

    header>div>.header-right {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background: #f5f4f0;
        align-items: center;
        padding: 30px;
        gap: 20px;
        transform: rotateX(-180deg);
        transform-origin: top;
        z-index: -1;
        opacity: 0;
    }

    .burger-menu.active {
        transform: rotateX(0deg);
        z-index: 1;
        opacity: 1;
    }

    header nav ul {
        padding: 0;
        background: none;
        flex-direction: column;
    }

    header>img {
        width: 114px;
    }

    header>div {
        gap: 20px;
    }

    .burger-btn {
        cursor: pointer;
    }

    .intro {
        padding: 30px 24px;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        min-height: unset;
        height: fit-content;
    }

    .intro-content {
        padding: 0 !important;
        flex-grow: 1;
        padding-top: 10px !important;
    }

    .intro-top>p {
        line-height: 20px;
    }

    .intro-top>img {
        display: none;
    }

    body {
        background-image: none;
    }

    .text-33 {
        font-size: 20px;
    }

    .intro-top {
        gap: 10px;
    }

    .intro-bottom {
        margin-top: 49px;
    }

    .mob {
        display: flex !important;
    }

    .intro-bottom>div>div h2,
    .intro-bottom>div>div h3 {
        display: none;
    }

    .intro-bottom>h2 {
        justify-content: space-between;
        align-items: flex-end;
    }

    .intro-bottom h2 span {
        color: #1A1E1C;
        font-size: 15px;
        margin: 0;
    }

    .intro-bottom .text-24 {
        font-size: 18px;
    }

    .intro-bottom span {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .intro-bottom button {
        width: 100%;
        justify-content: center;
        background: none;
    }

    .intro-bottom>div {
        margin-top: 20px;
        flex-direction: column;
    }

    .condition {
        padding-bottom: 30px;
    }

    .condition-item {
        position: relative;
        padding: 12px 23px;
        overflow: hidden;
    }

    .condition-item>div {
        display: flex;
        align-items: flex-end;
        gap: 5px;
        line-height: 20px;
        margin-top: -15px;
    }

    .condition-item>div>.text-33 {
        line-height: 20px;
    }


    .condition-item .text-24 {
        margin-top: 14px;
    }

    .condition-item button {
        margin-top: 10px;
    }

    .res p {
        font-size: 48px;
    }

    .faq-container {
        flex-direction: column;
    }

    .faq-section details p {
        margin-top: 10px;
    }

    .faq-section details {
        padding: 11px 17px;
    }

    .faq .text-24 {
        font-size: 15px;
    }

    .res {
        align-items: center;
        padding-top: 0;
    }

    .faq button {
        margin-top: 17px;
    }

    .faq {
        padding: 30px 24px;
        padding-top: 0;
        overflow: hidden;
    }

    .faq-left>img {
        /* max-width: 100%; */
        width: 100%;
        margin-top: -219px;
        align-self: center;
    }

    .faq-left {
        display: flex;
        flex-direction: column;
    }

    .faq .text-48 {
        margin-top: 10px;
    }

    .faq-container {
        gap: 25px;
    }

    .faq-section details {
        margin-bottom: 10px;
    }

    .mission {
        padding: 24px;
        padding-bottom: 72px;
        gap: 39px;
        background-position: center;
    }

    .mission::before {
        background: linear-gradient(0.01deg, #000000 0.01%, #0D0F0E 37.05%, rgba(26, 30, 28, 0) 74.1%);

    }

    .mission p {
        line-height: 20px;
        font-size: 20px;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-bottom {
        flex-direction: column;
        margin-top: 135px;
        align-items: flex-start;
        gap: 14px;
    }

    .footer-bottom>div {
        width: 100%;
        justify-content: space-between;
    }

    footer {
        padding: 30px 24px;
    }

    .footer-left .text-24 {
        max-width: 100%;
        margin-top: 10px;
    }

    .footer-left .text-48 {
        font-size: 20px;
        white-space: unset;
        line-height: 20px;
    }

    .footer-left>label {
        margin-top: 20px;
    }

    .states button {
        font-size: 14px;
    }

    .states {
        display: flex;
        flex-direction: column-reverse;
        padding: 30px 24px;
        padding-bottom: 101px;
        position: relative;
    }

    .states-right p {
        text-align: left;
    }

    .states-right>div {
        gap: 30px;
    }

    .states .title {
        font-size: 20px;
        letter-spacing: 0;
        display: flex;
        flex-direction: column;
        line-height: 20px;
    }

    .states .text-33 {
        font-size: 15px;
    }

    .states button {
        height: 52px;
        padding: 6.5px;
        background: #FF5A39;
        margin-top: 13px;
    }

    .states-left {
        overflow: hidden;
    }


    .states-left img {
        margin: auto;
        width: 223px;
        margin-top: 40px;
    }

    .states>div {
        height: 100%;
        padding: 52px 42px;
        flex-direction: column;
        gap: 12px;
    }

    .states>div>div {
        height: 100%;
        justify-content: space-between;
        grid-template-columns: 1fr;
    }

    .states-left p {
        display: block !important;
        padding-left: 18px;
    }

    .states {
        padding: 31px 33px;
    }

    .condition {
        padding-top: 30px;
    }

    .catalog-items {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin-top: 13px;
    }

    .catalog-item {
        border: none !important;
        padding: 10px;
    }

    .catalog-item>.text-33 {
        padding-left: 0;
    }

    .catalog-bottom_top>div {
        gap: 15px;
        flex-direction: column;
    }

    .catalog-bottom_top div span {
        opacity: 1;
        white-space: unset;
    }

    .catalog-bottom_top div span:first-of-type {
        align-self: start;
    }

    .catalog-top {
        flex-direction: column;
        gap: 17px;
    }


    .product {
        min-height: fit-content;
        height: fit-content;
        grid-template-columns: 1fr;
    }

    .pr-title>span {
        margin-top: 0;
    }

    .product-left>div,
    .product-right>div {
        gap: 5px;
    }

    .product .title {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0px;
    }

    .product-left>div>span,
    .product-right>div>span {
        font-size: 11px;
        white-space: unset;
    }

    .product .text-33 {
        white-space: unset;
    }

    .product-right {
        padding-top: 15px;
    }

    .product-right>div>span {
        max-width: 214px;

    }

    .product-right .text-33 span {
        color: #FF5A39;
    }

    .flow-intro .product-right .text-33 span {
        color: #FBC402;
    }

    .zen-intro .product-right .text-33 span {
        color: #790047;
    }


    .characteristics {
        padding-top: 197px;
        gap: 5px;
    }

    .prod-image::after {
        position: absolute;
        content: "";
        top: 256px;
        left: 70%;
        transform: translateX(-50%) rotate(7deg);
        background: linear-gradient(90deg,
                rgba(191, 191, 191, 0.85) 63.94%,
                rgba(217, 217, 217, 0) 100%);

        filter: blur(14px);
        opacity: 0.9;

        width: 135px;
        height: 29px;
        pointer-events: none;
        z-index: -1;
    }

    .prod-image img {
        width: 135px;
        /* height: 195px; */
        object-fit: cover;
        left: 70%;
        top: 90px;
        transform: translateX(-50%);
    }

    .flow-image img {
        top: 110px;
    }

    .product .grey-btn {
        display: none;
    }

    .product-description {
        gap: 20px;
        padding: 20px 24px;
    }

    .characteristics li {
        font-size: 11px;
    }

    .pr-control {
        position: absolute;
        left: 0;
        bottom: 110px;
        max-width: 135px;
        left: 24px;
    }

    .pr-control svg {
        margin-bottom: 24px;
    }

    .pr-intro {
        height: 764px;
        position: relative;
    }

    .desktop {
        display: none !important;
    }

    .intro-bottom button {
        font-size: 14px;
        padding: 7px;
    }

    .intro-bottom button img {
        width: 13px;
    }

    .condition-item>div>.text-33 {
        font-size: 20px;
    }

    .condition-item>div {
        align-items: center;
    }

    .condition-item_top svg {
        width: 45px;
    }

    .condition-item {
        border-color: #fff !important;
        padding: 22px;
    }

    .condition-item button {
        font-size: 14px;
    }

    .title {
        letter-spacing: 0px;
    }

    .condition .title.desktop {
        display: none !important;
    }

    .condition .title.mob {
        display: block !important;
    }

    .swiper-cond {
        margin-top: 35px;
    }

    .condition>div>div {
        gap: 0;
    }


    .swiper-control.cond-control {
        display: flex !important;
        margin: auto;
        margin-top: 20px;
    }

    .states>div {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .states button {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 31px;
    }

    .states {
        padding: 42px 37px;
    }

    .states .text-33 {
        text-align: right;
        max-width: 225px;
        align-self: flex-end;
    }

    .res {
        flex-direction: column;
    }

    .res-right {
        width: 100%;
        height: 224px;
        max-height: 224px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .swiper-btn {
        width: 24px !important;
        height: 24px !important;
    }

    .swiper-control .swiper-btn svg {
        width: 5px !important;
        height: 9px !important;
    }

    .res-control {
        transform: unset;
        gap: 6px;
        position: relative;
        bottom: auto;
        left: auto;
    }

    .res {
        height: 668px;
    }

    .res img {
        object-position: unset;
    }

    .res .swiper {
        height: 444px;
    }

    .faq button {
        height: 31px;
    }
}

@media screen and (max-width:769px) {
    .catalog-main {
        gap: 20px;
    }

    .text-24,
    .catalog-bottom_top div span {
        font-size: 20px;
    }

    .footer-right {
        flex-direction: row;
        text-align: left;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-right>div>div {
        flex-direction: column;
        gap: 6px;
        text-align: right;
        align-items: flex-end;
    }

    .footer-right>div {
        width: fit-content;
    }

    .footer-right>div>.text-24 {
        display: none;
    }

    .res p {
        font-size: 20px;
    }

    .text-48,
    .title {
        font-size: 20px;
    }

    .title {
        line-height: 20px;
    }

    .condition .substitle {
        margin-top: 10px;
        font-size: 12px;
        line-height: 12px;
    }

    .intro-bottom .text-24 {
        font-size: 12px;
    }

    .intro-bottom>div>img {
        width: 100%;
        object-fit: cover;
        object-position: 0px -55px;
        max-height: 225px;
        /* height: 142px; */
    }

    .catalog-bottom::after {
        width: 100%;
        height: 335px;
        object-fit: cover;
    }

    .catalog-bottom::after {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
    }


    .condition>button {
        margin-top: 11px;
        font-size: 14px;
        width: 100%;
        padding: 6.5px 0;
    }

    .intro-bottom button {
        padding: 0;
    }

    .text-33 {
        font-size: 15px;
    }

    .intro-bottom>h2 {
        white-space: unset;
        align-items: flex-end;
        gap: 22px;
    }

    .intro-bottom h2 span {
        flex-shrink: 0;
    }

    .input-type-1,
    .input-type-1::placeholder {
        font-size: 11px;
    }

    .catalog-main {
        padding: 0 !important;
    }

    .catalog-item>.text-33 {
        font-size: 12px;
    }

    .condition-item {
        height: 422px !important;
    }

    .condition-item .text-24 {
        font-size: 12px;
        margin-top: 6px;
    }

    .condition-item button {
        font-size: 14px;
        padding: 5.5px;
    }

    .catalog-item>img {
        width: 23px;
        margin-top: 12px;
    }

    .collection-intro .catalog-item>img {
        width: fit-content;
        height: 77px;
    }

    .collection-intro .collection-item {
        height: 227px;
    }

    .catalog-item:last-of-type img {
        width: 75px;
    }

    .catalog-bottom>button {
        font-size: 14px;
        padding: 6.5px;
        width: 100%;
    }
}

@media screen and (max-height:700px) {
    .intro-bottom {
        margin-top: 80px;
    }
}

@media screen and (max-height:620px) {
    .intro-bottom {
        margin-top: 40px;
    }
}